.result {
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.result .image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
