.form-fields {
    list-style-type: none;
}

.form-fields label {
    text-align: left;
}

.form-fields li {
    margin: 15px 0;
}

.form-fields li.invalid label {
    color: #f00;
}

.form-fields input[type="text"] {
    width: 100%;
    font-size: 14px;
    height: 32px;
}
.form-fields .checkbox {
    text-align: left;
}

.form-fields .checkbox .title {
    display: inline-block;
}

.form-fields .selector .slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #D3D3D3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.form-fields .selector .options{
    display: flex;
    justify-content: space-between;
}
.form-fields .selector .options p{
    position: relative;
    display: flex;
    justify-content: center;
    width: 1px;
    margin-bottom: 30px;
    margin-top: 6px;
}