.form-fields {
    list-style-type: none;
}

.form-fields label {
    text-align: left;
}

.form-fields li {
    margin: 15px 0;
}

.form-fields li.invalid label {
    color: #f00;
}

.form-fields input[type="text"] {
    width: 100%;
    font-size: 14px;
    height: 32px;
}
.form-fields .checkbox {
    text-align: left;
}

.form-fields .checkbox .title {
    display: inline-block;
}

.form-fields .selector .slider{
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background: rgb(231, 231, 231);
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0 / 25%);
}

.form-fields .selector .slider .steps{
    position: absolute;
    height: 20px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.form-fields .selector .slider .steps input[type=radio]{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color:rgb(251, 132, 67);
}

.form-fields .selector .slider .progress{
    background-color: #dd4f00;
    height: 25px;
    border-radius: 25px;
}
.form-fields .selector .slider .thumb-progress{
    display: flex;
    justify-content: flex-end;
}

.form-fields .selector .slider .progress,
.form-fields .selector .slider .thumb-progress{
    position: absolute;
    top: 0;
    left: 0;
    transition:  width 0.2s ease-in-out;
    pointer-events: none;
    max-width: 100%;
    min-width: 8%;
    height: 100%;
}

.form-fields .selector .slider .thumb-progress .thumb{
    background-color: #dd4f00;
    box-shadow: 0 4px 12px 0 #7229016e;
    height: 25px;
    min-width: 25px;
    border-radius: 50%;
    transform: scale(1.6) translate(2px);
    pointer-events: none;
    z-index: 5;
}

@media (min-width:420px){
    .form-fields .selector .slider .progress,
    .form-fields .selector .slider .thumb-progress{
        min-width: 5%;
    }
}
@media (min-width:600px){
    .form-fields .selector .slider .progress,
    .form-fields .selector .slider .thumb-progress{
        min-width: 4%;
    }
    .form-fields .selector .slider .thumb-progress .thumb{
        transform: scale(1.6) translate(0px);
    }
    .form-fields .selector .slider .steps input[type=radio]{
        width: 20px;
        height: 20px;
    }
    .form-fields .selector .slider{
        height: 25px;
    }
}